*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


header{
 height: 400px;  
 width: 100%; 
 background-image: url(img/mv.jpg);
 background-position: bottom;
 background-size: cover;

}

.headline{
 padding:20px;
 color: darkgray;
    
}

main{
 width: 840px;
 margin: 50px auto;   
 color: darkgrey;
 padding: 50px,0;
 


}
.webcanp{
 margin-bottom: 30px;
 padding-bottom: 30px;
 border-bottom: 1px solid darkgray;
 

}
.webcanppro{
 margin-bottom: 30px;
 padding-bottom: 30px;
 border-bottom: 1px solid darkgray;
 

}
.webcanpwoman {
 margin-bottom: 30px;
 padding-bottom: 30px;
 border-bottom: 1px solid darkgray;

 }

 .webcanpcareer{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid darkgray;
 }